.orange-button {
    background: linear-gradient(270deg, #F5AF19 0%, #F12711 113.31%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    
}
.dark-button{
    background-color: #222428;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
#text-white{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    font-weight: 700;
    color: white;
}
#text-white-light{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    font-weight: 350;
    color: white;
}
#text-dark{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    font-weight: 700;
    color: #222428;
    margin-left: 10px;
}
#text-dark-light{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    font-weight: 350;
    color: #222428;
}
.header{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    letter-spacing: 0.05em;
    text-align: center;
}
.background{
    // display: flex;
    --background: url(../../assets/login-final.svg) no-repeat center center / cover; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // background-size: cover;
    
}
#pink-red{
    --background:#E70066;
    --background-activated: #C80058;
    --background-focused: #C80058;
    --background-hover: #C80058;
    --color-activated: #F2F2F2;
    --color-focused: #F2F2F2;
    --color-hover: #F2F2F2;
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    color: white;
}