.green{
    --background:#22EAC7;
    --background-activated:rgba(34, 234, 199, 0.8);
    --background-focused:rgba(34, 234, 199, 0.8);
    --background-hover: rgba(34, 234, 199, 0.8);
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    color: black;
}
.purple-blue{
    --ion-icon-background:#3D2CE8;
    --background-activated:rgba(61, 44, 232, 0.7);
    --background-focused:rgba(61, 44, 232, 0.7);
    --background-hover: rgba(61, 44, 232, 0.7);
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    color: white;
}
.pink-red{
    --background:#E70066;
    --background-activated: #C80058;
    --background-focused: #C80058;
    --background-hover: #C80058;
    --color-activated: #E70066;
    --color-focused:  #C80058;
    --color-hover: #C80058;
}
.yellow{
    --background:#FDB909;
    --background-activated: rgba(253, 185, 9, 0.8);
    --background-focused: rgba(253, 185, 9, 0.8);
    --background-hover: rgba(253, 185, 9, 0.8);
    --color-activated: #F2F2F2;
    --color-focused: #F2F2F2;
    --color-hover: #F2F2F2;
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    color: white;
}