@font-face{
    font-family: 'Manrope-Bold';
    src: url('../assets/fonts/manrope-ttf/Manrope-Bold.ttf');
    font-style: normal;
}
@font-face{
    font-family: 'Manrope-ExtraBold';
    src: url('../assets/fonts/manrope-ttf/Manrope-ExtraBold.ttf');
    font-style: normal;
}
@font-face{
    font-family: 'Manrope-ExtraLight';
    src: url('../assets/fonts/manrope-ttf/Manrope-ExtraLight.ttf');
    font-style: normal;
}
@font-face{
    font-family: 'Manrope-Light';
    src: url('../assets/fonts/manrope-ttf/Manrope-Light.ttf');
    font-style: normal;
}
@font-face{
    font-family: 'Manrope-Medium';
    src: url('../assets/fonts/manrope-ttf/Manrope-Medium.ttf');
    font-style: normal;
}
@font-face{
    font-family: 'Manrope-Regular';
    src: url('../assets/fonts/manrope-ttf/Manrope-Regular.ttf');
    font-style: normal;
}
@font-face{
    font-family: 'Manrope-SemiBold';
    src: url('../assets/fonts/manrope-ttf/Manrope-SemiBold.ttf');
    font-style: normal;
}