/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.toast-purple{
    --background:#3D2CE8;
    --background-activated:rgba(61, 44, 232, 0.7);
    --background-focused:rgba(61, 44, 232, 0.7);
    --background-hover: rgba(61, 44, 232, 0.7);
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    color: white;
}
.toast-pink{
    --background:#E70066;
    --background-activated: #C80058;
    --background-focused: #C80058;
    --background-hover:  #C80058;
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    color: white;
}
.toast-green{
    --background:#22EAC7;
    --background-activated:rgba(34, 234, 199, 0.8);
    --background-focused:rgba(34, 234, 199, 0.8);
    --background-hover: rgba(34, 234, 199, 0.8);
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    color: black;
}
// :root * {
//     &::-webkit-scrollbar {
//       width: 12px;
//     }

//     &::-webkit-scrollbar-track {
//       -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//       -webkit-border-radius: 10px;
//       border-radius: 10px;
//     }

//     &::-webkit-scrollbar-thumb {
//       -webkit-border-radius: 10px;
//       border-radius: 10px;
//       background: rgba(255, 0, 0, 0.8);
//       -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
//     }

//     &::-webkit-scrollbar-thumb:window-inactive {
//       background: rgba(255, 0, 0, 0.4);
//     }
// }
