<ion-header>
  <ion-toolbar>
    <ion-title class="header">SEARCH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar
      type="text"
      placeholder="Search for a game..."
      [(ngModel)]="searchText"
      (ngModelChange) ="onInput(searchText)">
    </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let i of searchResArr; let j = index" id=item{{j}} [routerLink]="'/details/' + i[1]">
        {{i[0]}}<p class="gameYear" *ngIf="i.length > 2">&nbsp;({{i[2]}})&nbsp;</p>
    </ion-item>
  </ion-list>
</ion-content>
