.header{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    letter-spacing: 0.05em;
    text-align: center;
}

.search-items{
    background-color: transparent;
    text-align: left;
}

.gameYear{
    color: #989aa2;
} 

.background{
    --background: url(../../assets/search-background.svg) no-repeat center center / cover;
    
}