.container {
    font-family:'Manrope-Regular';
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    height: 360px;
    overflow: hidden;
}
.show {
    overflow: visible;
    height: auto;
}
.reviews{
    font-family:'Manrope-Medium';
    font-style: normal;
    font-size: 12px;
}
.readMoreLess {
    text-align: center;
    cursor:pointer;
    font-family:'Manrope-Regular';
    font-style: normal;
}
.background{
    --background: #303030;
}
.title{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    font-size: 28px;
    text-align: start;
    color: white;   
    margin-left: 10px;
    // text-shadow: 3px 0px 0px rgba(253, 185, 9, 0.8);
}
ion-label{
    font-family:'Manrope-Medium';
    font-style: normal;
}
#salmon{
    --background: #E85B51;
    --background-activated: rgba(232, 91, 81, 0.8);
    --background-focused: rgba(232, 91, 81, 0.8);
    --background-hover: rgba(232, 91, 81, 0.8);
    font-family:'Manrope-ExtraBold';
    font-style: normal;
}
#salmon-title{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    color: #E85B51;
    --color-activated: rgba(232, 91, 81, 0.8);
    --color-focused: rgba(232, 91, 81, 0.8);
    --color-hover: rgba(232, 91, 81, 0.8);
}
