.container {
    font-size: 16px;
    line-height: 16px;
    height: 368px;
    overflow: hidden;
}
.show {
    overflow: visible;
    height: auto;
}
.readMoreLess {
    text-align: center;
    cursor:pointer;
}