<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1><div id=gameName></div></h1>
    <div id=gameImg></div>
      <ion-item><ion-label>
        <div id=gamePlayers></div>
        <div id=gameTime></div>
        <div id=gameAge></div>
      </ion-label></ion-item>
    <div id=gameDesc></div>
  </ion-card>
  <ion-button expand="block" [routerLink]="'/review/' + idInUrl">Leave a review!</ion-button>
</ion-content>
