<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1><div id=gameName></div></h1>
    <div id=gameImg></div>
      <ion-item><ion-label>
        <div id=gamePlayers></div>
        <div id=gameTime></div>
        <div id=gameAge></div>
      </ion-label></ion-item>
    <div id=gameDesc></div>
  </ion-card>
  <h1>Reviews</h1>
  <ion-button expand="block" [routerLink]="'/review/' + idInUrl">Leave a review!</ion-button>
  <div id=gameReview>
    <ion-card *ngFor="let i of showReviewArr; let j = index" id=item{{j}}>
        <div>{{i[0]}}</div>
        {{i[2]}}<br>
      <i>Played for {{i[3]}} minutes with {{i[4]}} player(s).</i>
    </ion-card>
  </div>
</ion-content>
