<ion-header>
  <ion-toolbar>
    <ion-title id="gameName"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card color="light">
    <ion-card-header style="display: flex;">
        <ion-card-title>Details</ion-card-title>
    </ion-card-header>
    <div id=gameImg></div>
    <ion-card-content>
        <ion-item><ion-label>
            <div id=gamePlayers></div>
            <div id=gameTime></div>
            <div id=gameAge></div>
          </ion-label></ion-item>
        <div class="container" [class.show]="show" id=gameDesc>
        </div>
    </ion-card-content>
    <div class="readMoreLess"><a (click)="show = !show">{{ show ? 'Show less': 'Read More' }}</a></div>
  </ion-card>
  <h1 class="title">Reviews</h1>
  <ion-button expand="block" [routerLink]="'/review/' + idInUrl">Leave a review!</ion-button>
  <div id=gameReview>
    <ion-card *ngFor="let i of showReviewArr; let j = index" id=item{{j}}>
        <div>{{i[0]}}</div>
        {{i[2]}}<br>
      <i>Played for {{i[3]}} minutes with {{i[4]}} player(s).</i>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addGame()">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
