.orange-button {
    background: linear-gradient(270deg, #F5AF19 0%, #F12711 113.31%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    
}
.dark-button{
    background-color: #222428;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
#text-white{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    font-weight: 700;
    color: white;
}
#text-white-light{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    font-weight: 350;
    color: white;
}
#text-dark{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    font-weight: 700;
    color: #222428;
    margin-left: 10px;
}
#text-dark-light{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    font-weight: 350;
    color: #222428;
}
.color-gradient-header{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    font-weight: 900;
    // color: linear-gradient(#F5AF19 0%, #F12711 113.31%);
    // background: -webkit-linear-gradient(#F5AF19, #F12711);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
}
.header{
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    letter-spacing: 0.05em;
    text-align: center;
}
.purple-blue{
    --background:#3D2CE8;
    --background-activated:rgba(61, 44, 232, 0.7);
    --background-focused:rgba(61, 44, 232, 0.7);
    --background-hover: rgba(61, 44, 232, 0.7);
    font-family:'Manrope-ExtraBold';
    font-style: normal;
    color: white;
}

.background{
    // display: flex;
    --background: url(../../assets/login-final.svg) no-repeat center center / cover; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // background-size: cover;
    
}